@charset "UTF-8";

/*General Styling*/

/* Body*/
body {
    margin: 0%
}

/*Heading 1*/
h1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3%;
    color: orange;
}

/*Heading 1 hover effect*/
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/*Styling for portfolio title text*/
.white-text {
    color: orange;
}

/*Para Elements*/
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*para hover*/
p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/*center class*/
.center {
    text-align: center;
}

/*Center class hover effect*/
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*anchor elements*/
a {
    color: darkred;
}

/*Quotation elements*/
q {
    font-style: italic;
}

/*Image elements*/
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Image element hover effects */
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/*Styling footer*/
footer {
    padding: 2%;
    background-color: beige;
}

/*Navbar styling*/
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav;
}

@keyframes moveNav {
    from {
        left: -100vw;
    }

    to {
        left: 0vw;
    }
}

/*Navbar links */
.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

@keyframes moveNavText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}

/* Screens 576px and smaller will display navbar links equally distributed*/
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }

}

/*Navbar hover*/
.Navbar a:hover {
    background-color: beige;
    color: black;
    font-weight: bold;
}

/*Navbar home button*/
.Navbar a.active {
    background-color: orange;
}


/*Vid Styling*/
/*Formatting for background video*/
#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/*Texts over vid*/
.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: beige;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom 
of the page upon page load */

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*Table styling*/
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: beige;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: orange;
}

.column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row::after {
    content: "";
    display: table;
    clear: both;
}

/*Contact form styling*/
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Hover effects for input boxes*/
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

/*Submit button*/
input[input=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
}

/*Hover effect for submit button*/
input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

/*Form element*/
form {
    border-radius: 5px;
    background-color: beige;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 50px;
    position: relative;
    border: none;
}

.tankubtn {
    background-color: black;
    color: beige;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centerbtn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}